<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

    <title>Carta</title>
</head>
<body>
    
</body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <% if (modo!='insertar') { %>
                        <a class="nav-link active" href="/">Coleccion</a>
                    <% } else { %>
                        <a class="nav-link" href="/">Coleccion</a>
                    <% } %>   
                </li>
                <li class="nav-item">
                    <% if (modo!='insertar') { %>
                        <a class="nav-link" href="/insertarcarta">A単adir Carta</a>
                    <% } else { %>
                        <a class="nav-link active" href="/insertarcarta">A単adir Carta</a>
                    <% } %>
                </li>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">

        <% if (modo=='edicion') { %>
                <form method="POST" action="/carta?_method=PUT">
            <% } else { %>
                <form method="POST" action="/insertarcarta">
        <% } %>
            <div class="card" style="width: 18rem;">
                <% if (modo=='edicion') { %>
                    <img id="imgCarta" src=<%=carta.cta_uri_imagen%> class="card-img-top" alt="..." width="100%">
                    <% } else { %>
                    <img id="imgCarta" src="https://cards.scryfall.io/normal/front/9/3/93acc8a5-c694-4ad8-b4c0-2e156424319d.jpg?1592710105" class="card-img-top" alt="..." width="100%">   
                <% } %>

                <div class="card-body">
                    <label for="exampleFormControlInput1" class="form-label">Carta</label>
                    <input type="text" class="form-control" id="txtCarta" name="txtCarta" placeholder="carta"  
                    <% if (modo=='edicion') { %>
                        value="<%=carta.cta_nombre%>"
                    <% } %>
                    />
                    <label class="form-label">Cantidad</label>
                    <input type="number" class="form-control  mb-3" id="txtCantidad" name="txtCantidad" placeholder="0"
                        <% if (modo=='edicion') { %>
                            value="<%=carta.cta_cantidad%>"
                        <% } else { %>
                            value="0"
                        <% } %>
                    />
                    <input type="hidden" id="urlImagen" name="urlImagen" 
                        <% if (modo=='edicion') { %>
                            value=<%=carta.cta_uri_imagen%>
                        <% } else { %>
                            value=""
                        <% } %>
                    />
                    <input type="hidden" id="idCarta" name="idCarta" 
                        <% if (modo=='edicion') { %>
                            value="<%=carta.cta_id%>"
                        <% } else { %>
                            value=""
                        <% } %>                   
                    />
                    <input type="hidden" id="idScryfall" name="idScryfall"
                        <% if (modo=='edicion') { %>
                            value="<%=carta.cta_scryfall_id%>"
                        <% } else { %>
                            value=""
                        <% } %>  
                    />

                    <% if (modo!='edicion') { %>
                        <input type="button" id="btnBuscar" class="btn btn-primary" value="Buscar" onclick="buscarCarta()">
                        <input type="submit" id="btnA単adir" class="btn btn-primary" value="A単adir">
                    <% } else { %>
                        <input type="submit" id="btnActualizar" class="btn btn-primary" value="Actualizar">
                    <% } %>
                </div>
            </div>
        </form>

    </div>

    <% if (mensaje!='') { %>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <%= mensaje %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
          window.addEventListener('DOMContentLoaded', (event) => {
            const modal = new bootstrap.Modal(document.getElementById('exampleModal'));
            modal.show();
          });
        </script>
    <% } %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
 
    <script>
        async function buscarCarta(){
            const respuesta = await fetch("https://api.scryfall.com/cards/named?fuzzy="+txtCarta.value)
            if (respuesta.ok){
                const json = await respuesta.json()
                imgCarta.setAttribute("src", json.image_uris.normal)
                urlImagen.value=json.image_uris.normal
                idScryfall.value=json.id
                console.log(json)
            }else{
                imgCarta.setAttribute("src", "https://cards.scryfall.io/normal/front/9/3/93acc8a5-c694-4ad8-b4c0-2e156424319d.jpg?1592710105")
                urlImagen.value="https://cards.scryfall.io/normal/front/9/3/93acc8a5-c694-4ad8-b4c0-2e156424319d.jpg?1592710105"
                idScryfall=""
                alert("Carta No Encontrada")
                txt.value = ""
            }
        }
    </script>
</html>